@import '../../scss/global';

.footer {
    height: 100px;
    background-color: $dark-blue;
    width: 100%;
    color: $white;
    font-size: 14px;
    
    .copyright {
        position: relative;
        float: right;
        top: 40px;
        right: 8px;
    }
}