$default-font: 'Open Sans', sans-serif;
$heading-font: 'Encode Sans Expanded', sans-serif;

$blue: #075993;
$purple: #870793;
$brown: #934107;
$green: #139307;
$white: #ffffff;
$black: #000000;
$grey: #b4b4b4;